# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PRN231PE_SU23_TrialTest_DE160003.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
